<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/admin.css">
    <title>&#127829; Deen Bakers</title>
</head>
<body>

    <!-- sidebar -->

    <section id="sidebar" class="hide">
        <a href="#" class="brand">
            <i class='bx bxs-cookie' style='color:#fdcb35'></i>
            <span class="text">Deen's</span>
        </a>

        <ul class="side-menu top">
            <li>
                <a href="/admin/dashboard">
                    <i class='bx bxs-tachometer'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="/admin/orders">
                    <i class='bx bxs-cart' ></i>
                    <span class="text">Orders</span>
                </a>
            </li>

            <li>
                <a href="/admin/products">
                    <i class='bx bxs-package'></i>
                    <span class="text">Products</span>
                </a>
            </li>

            <li>
                <a href="/admin/analytics">
                    <i class='bx bxs-bar-chart-square'></i>
                    <span class="text">Analytics</span>
                </a>
            </li>

            <li>
                <a href="/admin/promotions">
                    <i class='bx bxs-offer'></i>
                    <span class="text">Promotions</span>
                </a>
            </li>

            <li>
                <a href="/admin/employees">
                    <i class='bx bxs-group' ></i>
                    <span class="text">Employees</span>
                </a>
            </li>
        </ul>

        <ul class="side-menu">
            <li class="active">
                <a href="/admin/settings">
                    <i class='bx bxs-cog'></i>
                    <span class="text">Settings</span>
                </a>
            </li>

            <li>
                <form id="logout" action="/logout" method="POST">
                    <a href="#" class="logout" onclick="document.getElementById('logout').submit()">
                        <i class='bx bxs-log-out'></i>
                        <span class="text">Logout</span>
                    </a>
                </form>
            </li>
        </ul>
    </section>

    <!-- Content -->

    <section id="content">
        <nav>
            <i class='bx bx-menu'></i>
        </nav>

        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Account</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Account</a>
                        </li>

                        <li>
                            <i class='bx bx-chevron-right'></i>
                        </li>

                        <li>
                            <a href="#" class="active">Settings</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="table-data">
                <div class="addEmployee_form">
                    <form action="/adminSettings/update/<%= admin._id %>" method="POST">

                        <% if(messages.error) { %>

                            <span class="flash-warning"><%= messages.error %></span>
        
                        <% } else if(messages.success){ %>

                            <span class="flash-success"><%= messages.success %></span>

                        <% } %>
                        
                        <span>First name</span><br>
                        <input type="text" name="fname" value="<%= admin.fname %>">
                        <span>Last name</span><br>
                        <input type="text" name="lname" value="<%= admin.lname %>">
                        <span>Email</span><br>
                        <input type="email" name="email" value="<%= admin.email %>">
                        <input type="submit" value="Update" class="updateProductBtn">
                    </form>
                </div>
            </div>
        </main>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="/js/admin.js"></script>
    
</body>
</html>