<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/employee.css">
    <title>&#127829; Deen Bakers</title>
</head>
<body>

    <!-- sidebar -->

    <section id="sidebar" class="hide">
        <a href="#" class="brand">
            <i class='bx bxs-cookie' style='color:#fdcb35'></i>
            <span class="text">Deen's</span>
        </a>

        <ul class="side-menu top">
            <li>
                <a href="/employee/dashboard">
                    <i class='bx bxs-tachometer'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="/employee/orders">
                    <i class='bx bxs-cart' ></i>
                    <span class="text">Orders</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class='bx bxs-store-alt'></i>
                    <span class="text">Inventory</span>
                </a>
            </li>
        </ul>

        <ul class="side-menu">
            <li class="active">
                <a href="/employee/settings">
                    <i class='bx bxs-cog'></i>
                    <span class="text">Settings</span>
                </a>
            </li>
        </ul>
    </section>

    <!-- Content -->

    <section id="content">
        <nav>
            <i class='bx bx-menu'></i>

            <a href="#" class="profile">
                <img src="/images/employees/<%= user.image %>" onclick="dropdownToggle();">

                <!-- Profile dropdown -->
                <div class="profile-dropdown">
                    <ul>
                        <li><a href="/empSettings/account/<%= user._id %>">Account</a></li>

                        <li><a href="/empSettings/password/<%= user._id %>">Password</a></li>

                        <li>
                            <form id="logout" action="/logout" method="POST">
                                <a href="#" onclick="document.getElementById('logout').submit()">Logout</a>
                            </form>
                        </li>
                    </ul>
                </div>
            </a>
        </nav>

        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Account</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Account</a>
                        </li>

                        <li>
                            <i class='bx bx-chevron-right'></i>
                        </li>

                        <li>
                            <a href="#" class="active">Settings</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="table-data">
                <div class="employeeUpdate_form">
                    <form action="/account/update/<%= emp._id %>" method="POST">
                        <% if(messages.error) { %>

                            <span class="flash-warning"><%= messages.error %></span>
        
                        <% } else if(messages.success) { %>

                            <span class="flash-success"><%= messages.success %></span>

                        <% } %>
                        <span>Email</span><br>
                        <input type="email" name="email" value="<%= emp.email %>">
                        <span>Phone</span><br>
                        <input type="text" name="phone" value="<%= emp.phone %>">
                        <span>Address</span><br>
                        <textarea name="address" rows="5"><%= emp.address %></textarea><br>
                        <input type="submit" value="Update" class="updateProductBtn">
                    </form>
                </div>
            </div>
        </main>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="/js/admin.js"></script>
    
</body>
</html>