<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/employee.css">
    <title>&#127829; Deen Bakers</title>
</head>
<body>

    <!-- sidebar -->

    <section id="sidebar" class="hide">
        <a href="#" class="brand">
            <i class='bx bxs-cookie' style='color:#fdcb35'></i>
            <span class="text">Deen's</span>
        </a>

        <ul class="side-menu top">
            <li class="active">
                <a href="/employee/dashboard">
                    <i class='bx bxs-tachometer'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="/employee/orders">
                    <i class='bx bxs-cart' ></i>
                    <span class="text">Orders</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class='bx bxs-store-alt'></i>
                    <span class="text">Inventory</span>
                </a>
            </li>
        </ul>

        <ul class="side-menu">
            <li>
                <a href="/employee/settings">
                    <i class='bx bxs-cog'></i>
                    <span class="text">Settings</span>
                </a>
            </li>

            <!-- <li>
                <form id="logout" action="/logout" method="POST">
                    <a href="#" class="logout" onclick="document.getElementById('logout').submit()">
                        <i class='bx bxs-log-out'></i>
                        <span class="text">Logout</span>
                    </a>
                </form>
            </li> -->
        </ul>
    </section>

    <!-- Content -->

    <section id="content">
        <nav>
            <i class='bx bx-menu'></i>

            <a href="#" class="profile">
                <img src="/images/employees/<%= user.image %>" onclick="dropdownToggle();">

                <!-- Profile dropdown -->
                <div class="profile-dropdown">
                    <ul>
                        <li><a href="/empSettings/account/<%= user._id %>">Account</a></li>

                        <li><a href="/empSettings/password/<%= user._id %>">Password</a></li>

                        <li>
                            <form id="logout" action="/logout" method="POST">
                                <a href="#" onclick="document.getElementById('logout').submit()">Logout</a>
                            </form>
                        </li>
                    </ul>
                </div>
            </a>
        </nav>

        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Dashboard</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>

                        <li>
                            <i class='bx bx-chevron-right'></i>
                        </li>

                        <li>
                            <a href="#" class="active">Home</a>
                        </li>
                    </ul>
                </div>

                <!-- <a href="#" class="btn-download">
                    <i class='bx bxs-cloud-download'></i>
                    <apn class="text">Download PDF</apn>
                </a> -->
            </div>

            <ul class="box-info">
                <li>
                    <i class='bx bxs-calendar-check'></i>
                    <span class="text">
                        <h3>1020</h3>
                        <p>New Order</p>
                    </span>
                </li>

                <li>
                    <i class='bx bxs-group'></i>
                    <span class="text">
                        <h3>2834</h3>
                        <p>Visitors</p>
                    </span>
                </li>

                <li>
                    <i class='bx bx-money'></i>
                    <span class="text">
                        <h3>Rs.2543</h3>
                        <p>Total Sales</p>
                    </span>
                </li>
            </ul>

            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>All Products</h3>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Image</th>
                                <th>Product</th>
                                <th>Price</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% var num = 1 %>
                            <% menuItems.forEach(function(item) { %>

                                <tr>
                                    <td><%= num %></td>
                                    <td>
                                        <img src="/images/products/<%= item.image %>">
                                    </td>
                                    <td><%= item.name %></td>
                                    <td>Rs.<%= item.price %></td>
                                </tr>
                                <% num++ %>

                            <% }) %>
                        </tbody>
                    </table>
                </div>

                <!-- <div class="todo">
                    <div class="head">
                        <h3>Todos</h3>
                        <i class='bx bx-plus'></i>
                        <i class='bx bx-filter'></i>
                    </div>

                    <ul class="todo-list">
                        <li class="completed">
                            <p>Todo List</p>
                            <i class='bx bx-dots-vertical-rounded'></i>
                        </li>

                        <li class="completed">
                            <p>Todo List</p>
                            <i class='bx bx-dots-vertical-rounded'></i>
                        </li>

                        <li class="completed">
                            <p>Todo List</p>
                            <i class='bx bx-dots-vertical-rounded'></i>
                        </li>

                        <li class="completed">
                            <p>Todo List</p>
                            <i class='bx bx-dots-vertical-rounded'></i>
                        </li>

                        <li class="completed">
                            <p>Todo List</p>
                            <i class='bx bx-dots-vertical-rounded'></i>
                        </li>
                    </ul>
                </div> -->
            </div>
        </main>
    </section>

    <script src="/js/admin.js"></script>
    
</body>
</html>